<h2>Runs</h2>

<% @runs.each do |r| %>
	<div>
		Runner: <%= r.user.username %><br>
		Charity: <%= r.charity.name %><br>
		Distance (miles): <%= r.distance %><br>
		Duration (mins): <%= r.duration %><br>
		Location: <%= r.location %><br>
		Notes: <%= r.notes %><br><br>
	</div>
<% end %>
<br>
<%= link_to "Back to All Charities", charities_path, class: "charities-link" %>

